<html>
    <head>
        <title><%%= title %%></title>
    </head>
    <body>
        <h1><%%= message %%> ^ↀᴥↀ^</h1>
        <ul>
            <%% cats.forEach(function(cat) { %%>
            <li><b><%%=__('Name') %%></b>: <%%= cat.name %%> </br>
                <b><%%=__('Boss name') %%></b>: <%%= cat.bossName %%> </br>
                <b><%%=__('Birth date') %%></b>: <%%= cat.birthDate %%>
            </li>
            <%% }); %%>
        </ul>
    </body>
</html>