<% var title = "New user" %>
<% include ../common/header.ejs %>

<div class="page__wrapper">
    <div class="page__main">

        <p>A new user <%= login %> has been created.</p>
        <p>Login: <%= login %></p>
        <p>Password: <%= password %></p>

        <p class="step">
            Sincerely yours, <br/>
            The "Example" Team
        </p>
    </div>
</div>

<% include ../common/footer.ejs %>